body{
  margin: 0;
}
.section{
  width: 100%;
  height: 400px;
  background-color: #CFCFCF;
}
.section1{
  background-color: #BCBCBC;
}
.section2{
  background-color: #AAAAAA;
}
.section3{
  background-color: #999999;
}
.section4{
  background-color: #0055FF;
  height: 20px;
}
.l-page{
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}
.dummy-scroll{
  width: 100%;
  height: 0;
  position:absolute;
  top: 0;
  left: 0;
}
#scroll-value{
  font-size: 30px;
  display: block;
  position: fixed;
  margin-left: 50px;
}
